body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1461px;
    height: 760px;

    background: #ff6071;

    display: flex;
    flex-flow: column;

}
.menu{
    width: 100%;
    height: 20%;
    background: #ff98f1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    width: 200px;
    height: 50px;
    background: rebeccapurple;
    border-radius: 20px;
}
.bloc{
    width: 100%;
    height: 60%;

    background: darkviolet;

    display: flex;
    justify-content: center;
    align-items: end;
}
.rel{
    width: 800px;
    height: 200px;

    display: flex;
    justify-content: space-between;

    /*background: #ff98f1;*/

    position: relative;
    margin-bottom: -100px;
}
.min{
    height: 200px;
    width: 200px;
    background: purple;
    border-radius: 20px;
}