body {
    margin: 0;
    padding: 0;
}
div{
    border-radius: 20px;
}

.container {
    width: 1000px;
    height: 760px;

    background: green;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.bcdef {
    width: 97%;
    height: 67%;

    display: flex;
    justify-content: space-between;
}

.bcde {
    width: 67%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.cde {
    width: 100%;
    height: 48.5%;

    display: flex;
    justify-content: space-between;
}

.a {
    width: 97%;
    height: 30%;

    background: greenyellow;
}

.b {
    width: 100%;
    height: 48.5%;

    background: #ff6071;
}
.f {
    width: 30%;
    height: 100%;

    background: #ff98f1;

}

.min {
    width: 30%;
    height: 100%;

    background: yellow;
}

@media screen and (max-width: 830px){

    .container{
        width: 700px;
    }

    .bcdef{
        height: 80%;

        flex-flow: column;

    }
    .bcde{
        width: 100%;
        height: 77%;

    }
    .cde{
        height: 30%;
    }
    .a{
        height: 10%;
    }
    .f{
        height: 20%;
        width: 100%;
    }
    .b{
        height: 68%;
    }
    .min{
        height: 100%;
    }


}